// customizziamo l'aspetto dei nostri h
h1, h2, h3, h4, h5, h6 {
    color: $text;
    font-family: 'Lato', sans-serif;

}

.nav-item, .nav-link {
    color: $text;
}

.nav-item:hover, .nav-link:hover {
    background-color: lightgrey;
    border-radius: 10px;
}