$primary: indigo;
$secondary: orange;
// $light: lighten($primary, 50%);
$text: orangered;
$background: black;
$backlight: lighten($background, 50%);

// MIXIN FOR MEDIA-QUERIES
// $tablet: 768px;
// $large: 992px;
// $xlarge: 1200px;

$midsize: 500px;
